* {
  box-sizing: border-box; }

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #808080;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }
  html p, body p {
    letter-spacing: 1px;
    font-weight: 100; }
  html a, body a {
    text-decoration: none; }

#header-photos .navbar-toggler {
  color: #49b03a; }
#header-photos .phone {
  position: fixed;
  top: 5px;
  right: 5px;
  color: #49b03a;
  font-weight: 100;
  z-index: 1500; }
#header-photos h1 {
  font-size: 100px;
  font-weight: 100; }
#header-photos .btn {
  position: relative;
  height: 50px;
  width: 290px;
  line-height: 25px;
  border-radius: 0;
  overflow: hidden;
  transition: color 0.3s 0.05s ease;
  color: #49b03a;
  font-weight: 100; }

#header {
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position: 50% 0px;
  overflow: hidden;
  height: 100%; }
  #header .navbar-toggler {
    color: white; }
  #header .phone {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: 100;
    z-index: 1500; }
  #header .phone-scroll-style {
    color: #49b03a; }
  #header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
  #header .hero-text {
    position: relative;
    margin: 190px auto;
    color: white;
    z-index: 50; }
    #header .hero-text h1 {
      font-size: 100px;
      font-weight: 100; }
    #header .hero-text .btn {
      position: relative;
      height: 50px;
      width: 290px;
      line-height: 25px;
      border-radius: 0;
      overflow: hidden;
      transition: color 0.3s 0.05s ease;
      color: white;
      font-weight: 100; }
    #header .hero-text .btn-outline {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid white; }
    #header .hero-text .btn-background {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #49b03a;
      transition: 0.3s 0.05s ease;
      z-index: -1; }
    #header .hero-text .btn-background-center {
      position: absolute;
      left: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0; }
    #header .hero-text .btn-background-top {
      top: -100%; }
    #header .hero-text .btn-background-bottom {
      bottom: -100%; }
    #header .hero-text .btn:hover {
      color: white;
      transition: color 0.3s 0.35s ease; }
      #header .hero-text .btn:hover .btn-background-center {
        height: 100%;
        transition: height 0.3s 0.35s ease; }
      #header .hero-text .btn:hover .btn-background-top {
        top: 50%;
        transition: top 0.3s 0.05s ease; }
      #header .hero-text .btn:hover .btn-background-bottom {
        bottom: 50%;
        transition: bottom 0.3s 0.05s ease; }

.main-nav {
  background: transparent;
  transition: all 0.4s; }
  .main-nav .navbar-brand {
    color: white; }
    .main-nav .navbar-brand h2 {
      display: inline;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100; }
  .main-nav li {
    height: 40px;
    padding: 0 0; }
    .main-nav li .svg-wrapper {
      height: 40px;
      position: relative;
      width: 127px;
      text-align: center;
      text-decoration: none; }
    .main-nav li .shape {
      fill: transparent;
      stroke-dasharray: 120 540;
      stroke-dashoffset: -170;
      stroke-width: 3px;
      stroke: white; }
    .main-nav li .text {
      color: white;
      font-size: 1rem;
      letter-spacing: 3px;
      font-weight: 100;
      position: relative;
      top: -37px;
      width: 127px;
      height: 40px; }
@keyframes draw {
  0% {
    stroke-dasharray: 120 540;
    stroke-dashoffset: -170;
    stroke-width: 3px; }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px; } }
    .main-nav li .svg-wrapper:hover .shape {
      -webkit-animation: 0.4s draw linear forwards;
      animation: 0.4s draw linear forwards; }

.nav-scroll-style {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8); }
  .nav-scroll-style li .svg-wrapper {
    height: 40px;
    position: relative;
    width: 127px;
    text-align: center;
    text-decoration: none; }
  .nav-scroll-style li .shape {
    fill: transparent;
    stroke-dasharray: 120 540;
    stroke-dashoffset: -170;
    stroke-width: 3px;
    stroke: #49b03a; }
  .nav-scroll-style li .text {
    color: #49b03a;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 100;
    position: relative;
    top: -37px;
    width: 127px;
    height: 40px; }
@keyframes draw {
  0% {
    stroke-dasharray: 120 540;
    stroke-dashoffset: -170;
    stroke-width: 3px; }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px; } }
  .nav-scroll-style li .svg-wrapper:hover .shape {
    -webkit-animation: 0.4s draw linear forwards;
    animation: 0.4s draw linear forwards; }
  .nav-scroll-style .navbar-brand {
    color: #49b03a; }

.about {
  padding: 100px 0;
  margin-top: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .about .aboutText {
    padding-top: 175px; }
  .about .col h2 {
    color: #49b03a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    border-bottom: 1px solid #49b03a;
    padding-bottom: 7px; }
  .about .col img {
    width: 90%;
    border-radius: 30px; }
  .about .col .btn {
    position: relative;
    height: 52px;
    width: 185px;
    line-height: 26px;
    border-radius: 0;
    overflow: hidden;
    transition: color 0.3s 0.05s ease;
    color: #49b03a;
    font-weight: 100;
    letter-spacing: 2px;
    z-index: 1; }
  .about .col .btn-outline {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #49b03a; }
  .about .col .btn-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #49b03a;
    transition: 0.3s 0.05s ease;
    z-index: -1; }
  .about .col .btn-background-center {
    position: absolute;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0; }
  .about .col .btn-background-top {
    top: -100%; }
  .about .col .btn-background-bottom {
    bottom: -100%; }
  .about .col .btn:hover {
    color: white;
    transition: color 0.3s 0.35s ease; }
    .about .col .btn:hover .btn-background-center {
      height: 100%;
      transition: height 0.3s 0.35s ease; }
    .about .col .btn:hover .btn-background-top {
      top: 50%;
      transition: top 0.3s 0.05s ease; }
    .about .col .btn:hover .btn-background-bottom {
      bottom: 50%;
      transition: bottom 0.3s 0.05s ease; }
  .about .col-sm-5 {
    padding: 0;
    margin-bottom: 20px; }
    .about .col-sm-5 img {
      border-radius: 25px; }
    .about .col-sm-5 h2 {
      position: absolute;
      top: 151px;
      left: 30px;
      color: white;
      font-weight: 300; }
  .about h1 {
    color: #49b03a;
    font-weight: 100;
    border-bottom: 1px solid #49b03a; }
  .about img {
    width: 100%; }
  .about .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5); }

.photos {
  padding: 100px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .photos h1 {
    text-align: center;
    color: #49b03a;
    border-bottom: 1px solid #49b03a;
    padding-bottom: 7px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px; }
  .photos .carousel {
    height: 600px; }
    .photos .carousel img {
      height: 600px;
      width: 1110px; }
  .photos .btn {
    position: absolute;
    bottom: 125px;
    left: 40%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    transition: color 0.3s 0.05s ease;
    z-index: 1;
    overflow: hidden; }
  .photos .btn-outline {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white; }
  .photos .btn-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #49b03a;
    transition: 0.3s 0.05s ease;
    z-index: -1; }
  .photos .btn-background-center {
    position: absolute;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0; }
  .photos .btn-background-top {
    top: -100%; }
  .photos .btn-background-bottom {
    bottom: -100%; }
  .photos .btn:hover {
    color: white;
    transition: color 0.3s 0.35s ease; }
    .photos .btn:hover .btn-background-center {
      height: 100%;
      transition: height 0.3s 0.35s ease; }
    .photos .btn:hover .btn-background-top {
      top: 50%;
      transition: top 0.3s 0.05s ease; }
    .photos .btn:hover .btn-background-bottom {
      bottom: 50%;
      transition: bottom 0.3s 0.05s ease; }

.services {
  padding: 100px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .services h1 {
    text-align: center;
    color: #49b03a;
    border-bottom: 1px solid #49b03a;
    padding-bottom: 7px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px; }
  .services h4 {
    color: #49b03a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    border-bottom: 1px solid #49b03a; }

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: white;
  text-align: center;
  background: #49b03a;
  padding: 2em;
  margin-top: 30px; }
  .main-footer h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100; }
  .main-footer p {
    margin-top: 12px;
    text-align: left;
    padding-left: 45px; }
  .main-footer fieldset {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 37px;
    background: rgba(255, 255, 255, 0.3); }
  .main-footer .check-box-group {
    display: flex;
    flex-direction: row; }
  .main-footer .check-col {
    flex: 1; }
  .main-footer legend {
    padding-top: 45px;
    padding-left: 12px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100; }
  .main-footer .item {
    flex: 1; }
  .main-footer .itemRight {
    align-self: flex-end; }
    .main-footer .itemRight .footer-img {
      width: 70%;
      border: 2px double white;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      margin-bottom: 20px;
      margin-top: 105px;
      margin-left: auto;
      margin-right: auto; }
    .main-footer .itemRight .footerNav {
      margin-bottom: 40px;
      margin-top: 12px; }
    .main-footer .itemRight .dev {
      font-size: 12px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5); }
  .main-footer a {
    margin: 0 12px;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease; }
    .main-footer a:hover {
      color: white;
      text-decoration: none; }
  .main-footer textarea,
  .main-footer input[type=submit],
  .main-footer input[type=text] {
    width: 93%;
    display: block;
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 12px;
    border: none;
    transition: background 0.4s ease;
    background: rgba(255, 255, 255, 0.3); }
  .main-footer input[type="checkbox"] {
    display: none; }
  .main-footer input[type="checkbox"] + label:before {
    border: 1px solid white;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    width: 16px; }
  .main-footer input[type="checkbox"]:checked + label:before {
    background: white;
    color: #49b03a;
    content: "\2713";
    text-align: center; }
  .main-footer input[type="checkbox"]:checked + label:after {
    font-weight: bold; }
  .main-footer input[type=submit] {
    color: white; }
  .main-footer ::-webkit-input-placeholder {
    color: white;
    font-weight: 100; }
  .main-footer ::-ms-input-placeholder {
    color: white;
    font-weight: 100; }
  .main-footer :-ms-input-placeholder {
    color: white;
    font-weight: 100; }
  .main-footer textarea {
    font-size: 16px; }
  .main-footer input[type=submit] {
    border: 1px solid white;
    letter-spacing: 3px;
    font-weight: 100;
    background: rgba(255, 255, 255, 0);
    transition: all 0.4s; }
  .main-footer input[type=submit]:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #49b03a;
    cursor: pointer; }
  .main-footer textarea:focus,
  .main-footer input[type=text]:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1); }
  @media (max-width: 900px) {
    .main-footer {
      flex-direction: column-reverse; }
      .main-footer h3 {
        font-size: 1.1em; }
      .main-footer textarea,
      .main-footer input[type=submit],
      .main-footer input[type=text] {
        font-size: 0.9em; } }

.photo-nav {
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.4s; }
  .photo-nav .navbar-brand {
    color: #49b03a; }
    .photo-nav .navbar-brand h2 {
      display: inline;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100; }
  .photo-nav li {
    height: 40px;
    padding: 0 0; }
    .photo-nav li .svg-wrapper {
      height: 40px;
      position: relative;
      width: 127px;
      text-align: center;
      text-decoration: none; }
    .photo-nav li .shape {
      fill: transparent;
      stroke-dasharray: 120 540;
      stroke-dashoffset: -170;
      stroke-width: 3px;
      stroke: #49b03a; }
    .photo-nav li .text {
      color: #49b03a;
      font-size: 1rem;
      letter-spacing: 3px;
      font-weight: 100;
      position: relative;
      top: -37px;
      width: 127px;
      height: 40px; }
@keyframes draw {
  0% {
    stroke-dasharray: 120 540;
    stroke-dashoffset: -170;
    stroke-width: 3px; }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px; } }
    .photo-nav li .svg-wrapper:hover .shape {
      -webkit-animation: 0.4s draw linear forwards;
      animation: 0.4s draw linear forwards; }

.main-content {
  margin-top: 200px; }

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap; }
  .photo-gallery .photo {
    flex: 1;
    margin: 25px 12px;
    width: 358px;
    height: 269px; }

.photo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  color: white;
  text-align: center;
  background: #49b03a;
  padding: 2em;
  margin-top: 30px; }
  .photo-footer h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100; }
  .photo-footer p {
    margin-top: 12px;
    text-align: left;
    padding-left: 45px; }
  .photo-footer fieldset {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 37px;
    background: rgba(255, 255, 255, 0.3); }
  .photo-footer .check-box-group {
    display: flex;
    flex-direction: row; }
  .photo-footer .check-col {
    flex: 1; }
  .photo-footer legend {
    padding-top: 45px;
    padding-left: 12px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100; }
  .photo-footer .item {
    flex: 1; }
  .photo-footer .itemRight {
    align-self: flex-end; }
    .photo-footer .itemRight .footer-img {
      width: 70%;
      border: 2px double white;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      margin-bottom: 20px;
      margin-top: 105px;
      margin-left: auto;
      margin-right: auto; }
    .photo-footer .itemRight .footerNav {
      margin-bottom: 40px;
      margin-top: 12px; }
    .photo-footer .itemRight .dev {
      font-size: 12px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5); }
  .photo-footer a {
    margin: 0 12px;
    letter-spacing: 2px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease; }
    .photo-footer a:hover {
      color: white;
      text-decoration: none; }
  .photo-footer textarea,
  .photo-footer input[type=submit],
  .photo-footer input[type=text] {
    width: 93%;
    display: block;
    color: white;
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 12px;
    border: none;
    transition: background 0.4s ease;
    background: rgba(255, 255, 255, 0.3); }
  .photo-footer input[type="checkbox"] {
    display: none; }
  .photo-footer input[type="checkbox"] + label:before {
    border: 1px solid white;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    width: 16px; }
  .photo-footer input[type="checkbox"]:checked + label:before {
    background: white;
    color: #49b03a;
    content: "\2713";
    text-align: center; }
  .photo-footer input[type="checkbox"]:checked + label:after {
    font-weight: bold; }
  .photo-footer input[type=submit] {
    color: white; }
  .photo-footer ::-webkit-input-placeholder {
    color: white;
    font-weight: 100; }
  .photo-footer ::-ms-input-placeholder {
    color: white;
    font-weight: 100; }
  .photo-footer :-ms-input-placeholder {
    color: white;
    font-weight: 100; }
  .photo-footer textarea {
    font-size: 16px; }
  .photo-footer input[type=submit] {
    border: 1px solid white;
    letter-spacing: 3px;
    font-weight: 100;
    background: rgba(255, 255, 255, 0);
    transition: all 0.4s; }
  .photo-footer input[type=submit]:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #49b03a;
    cursor: pointer; }
  .photo-footer textarea:focus,
  .photo-footer input[type=text]:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1); }
  @media (max-width: 900px) {
    .photo-footer {
      flex-direction: column-reverse; }
      .photo-footer h3 {
        font-size: 1.1em; }
      .photo-footer textarea,
      .photo-footer input[type=submit],
      .photo-footer input[type=text] {
        font-size: 0.9em; } }

/*# sourceMappingURL=main.css.map */
