@mixin buttonHover($text, $outline, $background) {
    .btn-outline {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $outline;
    }

    .btn-background {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $background;
      transition: 0.3s 0.05s ease;
      z-index: -1;
    }

    .btn-background-center {
      position: absolute;
      left: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0;
    }

    .btn-background-top {
      top: -100%;
    }

    .btn-background-bottom {
      bottom: -100%;
    }

    .btn:hover {
      color: $text;
      transition: color 0.3s 0.35s ease;
      
      .btn-background-center {
        height: 100%;
        transition: height 0.3s 0.35s ease;
      }
      
      .btn-background-top {
        top: 50%;
        transition: top 0.3s 0.05s ease;
      }
      
      .btn-background-bottom {
        bottom: 50%;
        transition: bottom 0.3s 0.05s ease;
      }
    }
}

@mixin navHover($text, $outline) {
    .svg-wrapper {
        height: 40px;
        position: relative;
        width: 127px;
        text-align: center;
        text-decoration: none;
    }

    .shape {
        fill: transparent;
        stroke-dasharray: 120 540;
        stroke-dashoffset: -170;
        stroke-width: 3px;
        stroke: $outline;
    }

    .text {
        color: $text;
        font-size: 1rem;
        letter-spacing: 3px;
        font-weight: 100;
        position: relative;
        top: -37px;
        width: 127px;
        height: 40px;
    }

    @keyframes draw {
        0% {
            stroke-dasharray: 120 540;
            stroke-dashoffset: -170;
            stroke-width: 3px;
        }
        100% {
            stroke-dasharray: 760;
            stroke-dashoffset: 0;
            stroke-width: 2px;
        }
    }

    .svg-wrapper:hover .shape {
        -webkit-animation: 0.4s draw linear forwards;
        animation: 0.4s draw linear forwards;
    }
}

@mixin header-photos {
  
    .navbar-toggler {
      color: $primary-color;
    }

    .phone {
      position: fixed;
      top: 5px;
      right: 5px;
      color: $primary-color;
      font-weight: 100;
      z-index: 1500;
    }
      
      h1 {
        font-size: 100px;
        font-weight: 100;
      }

      .btn {
        position: relative;
        height: 50px;
        width: 290px;
        line-height: 25px;
        border-radius: 0;
        overflow: hidden;
        transition: color 0.3s 0.05s ease;
        color: $primary-color;
        font-weight: 100;
      }
    }
  
  
  @mixin nav-styles($color, $background) {
    background: $background;
    transition: all 0.4s;
  
    .navbar-brand {
      color: $color;

      h2 {
        display: inline;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 100;
      }
    }

    li {
      height: 40px;
      padding: 0 0;
      @include navHover($color, $color);
    }
  }
  
  @mixin footer-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    color: white;
    text-align: center;
    background: $primary-color;
    padding: 2em;
    margin-top: 30px;
    
    h3 {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100;
    }
    
    p {
      margin-top: 12px;
      text-align: left;
      padding-left: 45px;
    }
    
    fieldset {
      margin-top: 0;
      margin-left: 20px;
      margin-right: 37px;
      background: rgba(255, 255, 255, 0.3);
    }
    
    .check-box-group {
      display: flex;
      flex-direction: row;
    }
    
    .check-col {
        flex: 1;
      }
    
    legend {
      padding-top: 45px;
      padding-left: 12px;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 100;
    }
    
    .item {
        flex: 1;
    }
    
    .itemRight {
      align-self: flex-end;
      
      .footer-img {
        width: 70%;
        border: 2px double white;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-bottom: 20px;
        margin-top: 105px;
        margin-left: auto;
        margin-right: auto; 
      }
      
      .footerNav {
        margin-bottom: 40px;
        margin-top: 12px;
      }
      
      .dev {
        font-size: 12px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.5);
      }
    }
    
    a {
        margin: 0 12px;
        letter-spacing: 2px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease;
        
        &:hover {
            color: white;
            text-decoration: none;
        }    
    }
    
    textarea,
    input[type = submit],
    input[type = text] { 
        width: 93%;
        display: block;
        color: white;
        font-size: 1.3em;
        font-weight: 100;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-left: 20px;
        padding-top: 5px;
        padding-left: 12px;
        border: none;
        transition: background 0.4s ease;
        background: rgba(255, 255, 255, 0.3);
    }
    
    input[type="checkbox"] {
      display: none;
    }
    
    input[type="checkbox"] + label:before {
      border: 1px solid white;
      content: "\00a0";
      display: inline-block;
      font: 16px/1em sans-serif;
      height: 16px;
      margin: 0 .25em 0 0;
      padding: 0;
      width: 16px;
    }
    input[type="checkbox"]:checked + label:before {
      background: white;
      color: $primary-color;
      content: "\2713";
      text-align: center;
    }
    input[type="checkbox"]:checked + label:after {
      font-weight: bold;
    }
    
    input[type = submit] {
        color: white;
    }
    
    ::-webkit-input-placeholder {
        color: white;
        font-weight: 100;   
    }
    
    ::-ms-input-placeholder {
        color: white;  
        font-weight: 100;    
    }
    
    :-ms-input-placeholder {
        color: white;
        font-weight: 100; 
    }

    textarea {
        font-size: 16px;
    }

    input[type = submit] {
        border: 1px solid white;
        letter-spacing: 3px;
        font-weight: 100; 
        background: rgba(255, 255, 255, 0);
        transition: all 0.4s;
    }

    input[type = submit]:hover {
        background: rgba(255, 255, 255, 0.5);
        color: $primary-color;
        cursor: pointer;
    }

    textarea:focus,
    input[type = text]:focus{
        outline: none;
        background: rgba(255, 255, 255, 0.1);
    }
    
    @media(max-width: 900px) {
        flex-direction: column-reverse;
        
        h3 {
            font-size: 1.1em;
        }
        
        textarea,
        input[type = submit],
        input[type = text] {
            font-size: 0.9em;
        }
    }
  }