// Variables
$primary-color: #49b03a;
$nav-hover: rgba(255, 255, 255, 0.7);
$overlay-color: rgba(0, 0, 0, 0.5); 
$text-color: #808080;
$container-border: rgba(0, 0, 0, 0.1);
$light-text-color: lighten(#818181, 20%);