@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $text-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  p {
    letter-spacing: 1px;
    font-weight: 100;
  }
  
  a {
    text-decoration: none;
  }
}

#header-photos {
  @include header-photos;
}

#header {
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-position: 50% 0px;
  overflow: hidden;
  height: 100%;

  .navbar-toggler {
    color: white;
  }

  .phone {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    font-weight: 100;
    z-index: 1500;
  }
  
  .phone-scroll-style {
    color: $primary-color;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $overlay-color;
  }

  .hero-text {
    position: relative;
    margin: 190px auto;
    color: white;
    z-index: 50;
    
    h1 {
      font-size: 100px;
      font-weight: 100;
    }

    .btn {
      position: relative;
      height: 50px;
      width: 290px;
      line-height: 25px;
      border-radius: 0;
      overflow: hidden;
      transition: color 0.3s 0.05s ease;
      color: white;
      font-weight: 100;
    }
    
    @include buttonHover(white, white, $primary-color);

  }
}

.main-nav {
  @include nav-styles(white, transparent);
}

.nav-scroll-style {
    border-bottom: 1px solid $container-border;
    background: transparentize(white, 0.2);
     li {
      @include navHover($primary-color, $primary-color);
     }
     
     .navbar-brand {
       color: $primary-color;
     }
  }
  


.about {
  padding: 100px 0;
  margin-top: 100px;
  border-top: 1px solid $container-border;
  
  .aboutText {
    padding-top: 175px;
  }
  
  .col {
      
      h2 {
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        border-bottom: 1px solid $primary-color;
        padding-bottom: 7px;
      }
      
      img {
        width: 90%;
        border-radius: 30px;
      }
      
      .btn {
        position: relative;
        height: 52px;
        width: 185px;
        line-height: 26px;
        border-radius: 0;
        overflow: hidden;
        transition: color 0.3s 0.05s ease;
        color: $primary-color;
        font-weight: 100;
        letter-spacing: 2px;
        z-index: 1; 
      }
      @include buttonHover(white, $primary-color, $primary-color);
    }

  .col-sm-5 {
    padding: 0;
    margin-bottom: 20px;

    img {
      border-radius: 25px;
    }

    h2 {
      position: absolute;
      top: 151px;
      left: 30px;
      color: white;
      font-weight: 300;
    }
  }

  h1 {
    color: $primary-color;
    font-weight: 100;
    border-bottom: 1px solid $primary-color;
  }

  img {
    width: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 25px;
    background: $overlay-color;
  }
}

.photos {
  padding: 100px 0;
  border-top: 1px solid $container-border;
  
  h1 {
    text-align: center;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 7px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px;
  }
  
  .carousel {
    height: 600px;
    
    img {
      height: 600px;
      width: 1110px;
    }
  }
    
  .btn {
    position: absolute;
    bottom: 125px;
    left: 40%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0; 
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    transition: color 0.3s 0.05s ease;
    z-index: 1;
    overflow: hidden;
  }
  
  @include buttonHover(white, white, $primary-color);
}

.services {
  padding: 100px 0;
  border-top: 1px solid $container-border;
  
  h1 {
    text-align: center;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 7px;
    margin-bottom: 20px;
    font-weight: 100;
    letter-spacing: 3px;
  }
  
  h4 {
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        border-bottom: 1px solid $primary-color;
    }    
}

.main-footer {
    @include footer-styles;
}

////////////////////////////////
///////// Photos Page //////////
////////////////////////////////

.photo-nav {
  @include nav-styles($primary-color, transparentize(white, 0.2));
}

.main-content {
  margin-top: 200px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
  .photo {
    flex: 1;
    margin: 25px 12px;
    width: 358px;
    height: 269px;
  }
}

.photo-footer {
  @include footer-styles;
} 